@tailwind base;
@tailwind components;
@tailwind utilities;
@import "components/all";

:root {
  font-size: 18px;
}

html {
  height: -webkit-fill-available; /* We have to fix html height */
}

body {
  @apply font-sans-serif bg-cream flex flex-col justify-start;

  min-height: 100vh;
  min-height: -webkit-fill-available;
}

h1,
h2,
h3,
h4 {
  @apply font-display;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}
